@model EquipmentViewModel
@{
    ViewData["Title"] = "Details";
    ViewBag.HideFooter = false;
}

<head>
    <link rel="stylesheet" href="~/site.css" />
</head>

<div class="container-lg">
    <div class="card">
        <div class="card-header text-center" style="font-weight: bold">@Model.Name</div>
        <div class="card-body">
            <div class="form-gap">
                <div class="form-container">
               
                    <label class="form-label1" for="type">Type:</label>
                    <input class="form-label3" type="text" id="type" name="type" value="@Model.Type" readonly>
                    <label class="form-label1" for="weight">Weight:</label>
                    <input class="form-label2" type="text" id="weight" name="weight" value="@Model.Weight @Model.Metric" readonly>
                    <img src="@Model.ImageUrl" class="image-size image-margin mx-auto d-block" />
                </div>

            </div>
            <form class="text-center mt-1">
                <a class="btn btn-warning mt-1" asp-controller="Equipment" asp-action="Edit" asp-route-id="@Model.Id">Click to edit</a>
            </form>
            <form class="text-center mt-1" asp-controller="Equipment" asp-action="Delete" method="post" asp-route-id="@Model.Id">
                <input type="submit" class="btn btn-danger mt-1" value="Delete" />
            </form>
        </div>
        <div class="card-footer text-center" style="font-weight: bold">@Model.Plan Plan</div>
    </div>
</div>
