@model EquipmentViewModel
@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/site.css" />
</head>

<div class="container-lg">
    <div class="card">
        <div class="card-header">@Model.Name</div>
        <div class="card-body">

            <div class="form-container">
                <div class="form-gap">
                <label class="form-label" for="type">Type:</label>
                <input class="form-label" type="text" id="type" name="type" value="@Model.Type" readonly>
                <label class="form-label" for="weight">Weight:</label>
                <input class="form-label" type="text" id="weight" name="weight" value="@Model.Weight" readonly>
                    <img src="@Model.ImageUrl" class="image-size image-margin" />
                </div>
                
                </div>
                <form class="align-content-lg-around">
                <a class="btn btn-warning mt-2" asp-controller="Equipment" asp-action="Edit" asp-route-id="@Model.Id">Click to edit</a>
                </form>
                <form asp-controller="Equipment" asp-action="Delete" method="post" asp-route-id="@Model.Id">
                <input type="submit" class="btn btn-danger mt-2" value="Delete" />
                </form>
            </div>
            <div class="card-footer">@Model.Plan</div>
        </div>
    </div>
