@model EquipmentInputModel
@{
        Plan[] plans = Model.Plans!;
    string action = ViewBag.Action;
}

<form method="post" asp-controller="Equipment" asp-action="@action">
    <div class="row justify-content-center">
        <div class="col-3 text-center fw-bold text-white">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Type your name" />
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>
        <div class="col-3 text-center fw-bold text-white">
            <label asp-for="Weight" class="form-label"></label>
            <div class="input-group">
                <input asp-for="Weight" class="form-control" placeholder="Type your weight" />
                <span class="input-group-text" style="min-width: 80px">kg</span>
            </div>
            <span asp-validation-for="Weight" class="small text-danger"></span>
        </div>
    </div>
    <div class="row mt-3 justify-content-center text-white">
        <div class="col-3 text-center fw-bold">
            <label asp-for="TypeId" class="form-label"></label>
            <select asp-for="TypeId" class="form-control">
                <option value="@null" selected>No type</option>
                @foreach (TypeDTO type in Model.Types)
                {
                    @if (Model.Types == null)
                    {
                        <p>Model.Types is null!</p>
                    }
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
            <span asp-validation-for="TypeId" class="small text-danger"></span>
        </div>
        <div class="col-3 text-center fw-bold text-white">
            <label asp-for="Plan" class="form-label"></label>
            <select asp-for="Plan" class="form-control">
                    @foreach (Plan plan in plans)
                    {
                        <option value="@plan">@plan.ToString()</option>
                    }
            </select>
            <span asp-validation-for="Plan" class="small text-danger"></span>
        </div>
    </div>

    <div class="row mt-3 justify-content-center text-white">
        <div class="col-6 text-center fw-bold">
            <label asp-for="ImageUrl" class="form-label"></label>
            <input asp-for="ImageUrl" class="form-control" placeholder="Place your image url" />
            <span asp-validation-for="ImageUrl" class="small text-danger"></span>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-auto">
            <input class="btn btn-primary" type="submit" value="@if(ViewBag.Action == "Edit")
            { <text>Save</text> } else { <text>Create</text> }" />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}